#divs{
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle0;
    font-size: xx-large;
}
#felx{
    width: 100%;
    display: inline-block;
}
img{
    width: 24%;
}